@model AdotAqui.Models.Entities.User
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer["Label_Ban"];
}

<h2>Detalhes de @Html.DisplayFor(model => model.Name)</h2>
<h5>
    @SharedLocalizer["Label_AccStatus"]:
    @{
        if (Model.Banned)
        {
            <span style="color:red">@SharedLocalizer["User_AccStatusBan"]</span>
        }
        else
        {
            <span style="color:green">@SharedLocalizer["User_AccStatusUnban"]</span>
        }
    }
</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @SharedLocalizer["User_Email"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @SharedLocalizer["User_Birthday"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt>
            @SharedLocalizer["User_Phone"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @SharedLocalizer["Label_EmailValidated"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
    </dl>

    <form asp-action="Banir">
        <input type="hidden" asp-for="Id" />
        @{
            if (Model.Banned)
            {
                <input type="submit" value="@SharedLocalizer["Label_Unban"]" class="btn my-2 my-sm-0 navbutton" style="color:black" />
            }
            else
            {
                <input type="submit" value="@SharedLocalizer["Label_Ban"]" class="btn my-2 my-sm-0 navbutton" style="color:black" />
            }
        }
        <a asp-action="Index" class="btn my-2 my-sm-0 navbutton" style="color:black">@SharedLocalizer["Label_Return"]</a>
    </form>
</div>
