@model IEnumerable<AdotAqui.Models.Entities.User>
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using System.Globalization;
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["Title"] = @SharedLocalizer["Label_Administration"];
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" href="~/css/admin.css" />
<link rel="stylesheet" href="~/css/users.css" />
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


<div class="row w-100 m-auto pt-4 " style="margin-bottom: 30px !important;">
    <div class="col">
        <a asp-area="" asp-controller="Users" asp-action="Index" class="btn my-2 my-sm-0 w-100 enabledbutton">@SharedLocalizer["Label_Users"]</a>
    </div>
    <div class="col">
        <a asp-area="" asp-controller="Adoptions" asp-action="Index" class="btn my-2 my-sm-0 w-100 disabledbutton">@SharedLocalizer["Label_AdoptionRequests"]</a>
    </div>
    <div class="col">
        <a asp-area="" asp-controller="AnimalInterventions" asp-action="Index" class="btn my-2 my-sm-0 w-100 disabledbutton">Intervenções Médicas</a>
    </div>
</div>

    <form asp-controller="Users" asp-action="Index"></form>
    <table class="display compact" id="base">
        <thead>
            <tr>
                <th>
                    @SharedLocalizer["User_Name"]
                </th>
                <th>
                    @SharedLocalizer["User_Email"]
                </th>
                <th>
                    @SharedLocalizer["User_Phone"]
                </th>
                <th>
                    @SharedLocalizer["User_Birthday"]
                </th>
                <th>
                    @SharedLocalizer["User_Ban"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td data-sort="@((new DateTimeOffset(DateTime.ParseExact(item.Birthday, "dd/MM/yyyy", CultureInfo.InvariantCulture))).ToUnixTimeSeconds())">
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
                    <td>
                        @if (item.Banned)
                        {
                            <a asp-action="Ban" asp-route-id="@item.Id" class="btn my-2 my-sm-0 navbutton" style="color:black; ">@SharedLocalizer["Label_Unban"]</a>
                        }
                        else
                        {
                            <a asp-action="Ban" asp-route-id="@item.Id" class="btn my-2 my-sm-0 navbutton" style="color:black; ">@SharedLocalizer["Label_Ban"]</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script>
$('#base').DataTable({
    "columnDefs": [{
        orderable: false,
        targets: [2]
    },
    {
        width: "14%", targets: 3
    },
    {
        width: "5%", targets: 4
    }],
    language: {
        url: '@SharedLocalizer["DataTables_Language"]'
    }
});
    </script>
