@model IEnumerable<AdotAqui.Models.Entities.User>
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    ViewData["Title"] = "Administração";
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<form asp-controller="Users" asp-action="Index"></form>
<table class="display compact" id="base">
    <thead>
        <tr>
            <th>
                @SharedLocalizer["User_Name"]
            </th>
            <th>
                @SharedLocalizer["User_Email"]
            </th>
            <th>
                @SharedLocalizer["User_Phone"]
            </th>
            <th>
                @SharedLocalizer["User_Birthday"]
            </th>
            <th>
                @SharedLocalizer["User_Ban"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Banned)
                </td>
                <td>
                    @if (item.Banned)
                    {
                        <a asp-action="Ban" asp-route-id="@item.Id" class="btn my-2 my-sm-0 navbutton" style="color:black">@SharedLocalizer["Label_Unban"]</a>
                    }
                    else
                    {
                        <a asp-action="Ban" asp-route-id="@item.Id" class="btn my-2 my-sm-0 navbutton" style="color:black">@SharedLocalizer["Label_Ban"]</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (requestCulture.RequestCulture.Culture.ToString().Equals("en-US"))
{
    <script>
        $(document).ready(function () {
            $('#base').DataTable({
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/English.json'
                }
            });
        });
    </script>
}
else
{
    <script>
        $(document).ready(function () {
            $('#base').DataTable({
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese.json'
                }
            });
        });
    </script>
}