@using AdotAqui.Areas.Identity.Models.ManageViewModels
@using Microsoft.Extensions.Localization;

@inject IStringLocalizer<SharedResources> SharedLocalizer
@model IndexViewModel
@{
    ViewData["Title"] = @SharedLocalizer["Label_Profile"];
}

@section DocumentReadyScripts {


    $('#userImage').on('change', function () {
    var fileName = $(this).val();
    $(this).next('.custom-file-label').html(fileName.split("\\").pop());
    var reader = new FileReader();

    reader.onload = function (e) {
    document.getElementById("image-form").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
    })
}


@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/css/auth.css" />
    <link rel="stylesheet" href="~/css/perfil.css" />
}
@if (Model.StatusMessage != null)
{
    <partial name="_StatusMessage" model="Model.StatusMessage" />
}

<script>
ToolTip_mail = "@SharedLocalizer["Error_EmailInvalid"]";
ToolTip_nonalpha = "@SharedLocalizer["Error_NonAlphaNumericRequired"]";
ToolTip_numreq = "@SharedLocalizer["Error_NumberRequired"]";
ToolTip_lowreq = "@SharedLocalizer["Error_LowerRequired"]";
ToolTip_upreq = "@SharedLocalizer["Error_UpperRequired"]";
ToolTip_pwlng = "@SharedLocalizer["Error_PasswordLengthInvalid"]";
ToolTip_pw_c = "@SharedLocalizer["Error_PasswordMismatch"]";
ToolTip_name = "@SharedLocalizer["Error_NameLengthInvalid"]";
ToolTip_phone = "@SharedLocalizer["Error_PhoneRequired"]";
</script>

<div class="row w-75 m-auto"><div class="col"><h2>@SharedLocalizer["Label_Profile"]</h2></div></div>
<form id="profile-form" method="post" class="form" enctype="multipart/form-data">
    <div class="row w-75 m-auto">
        <div class="col-md-5 v-center">
            <div>
                @if (Model.Input.ImageURL == null)
                {
                    <img id="image-form" src="https://via.placeholder.com/250x250" />
                }
                else
                {
                    <img id="image-form" src="@Html.DisplayFor(modelItem => modelItem.Input.ImageURL)" />
                }
                <div class="custom-file mt-2">
                    <input type="file" class="custom-file-input" asp-for="Input.ImageURL" id="userImage" accept="image/x-png,image/gif,image/jpeg">
                    <label class="custom-file-label" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;" asp-for="Input.ImageURL">@SharedLocalizer["Label_ChooseFile"]</label>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label asp-for="Input.Email" class="label_text"></label>
                <input asp-for="Input.Email" class="form-control" id="Email" />
                <div id="result_mail" class="result_mail helper"></div>
                <span asp-validation-for="Input.Email" class="text-danger" style="display: block;"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Name" class="label_text"></label>
                <input asp-for="Input.Name" class="form-control" id="Name" />
                <div id="result_name" class="result_name helper"></div>
                <span asp-validation-for="Input.Name" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber" class="label_text"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" id="Phone" />
                <div id="result_pn" class="result_pn helper"></div>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Birthday" class="label_text">@SharedLocalizer["Label_Birthday"]</label>
                <div id="datepicker">
                    <div class="input-group date">
                        <input asp-for="Input.Birthday" class="form-control input-group-addon" type="text" readonly>
                        <div class="input-group-append">
                            <span class="input-group-text input-group-addon"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Input.Birthday" class="text-danger"></span>
            </div>
            <button type="submit" class="form-control form-submit btn btn-success mb-2" style="margin-top:15px;"><i class="fas fa-edit"></i> @SharedLocalizer["Label_SaveChanges"]</button>
        </div>
    </div>
</form>

@{ 
    if(ViewBag.Animals.Count > 0)
    {
        <span>Meus animais:</span><br/><br/>
        foreach(Animal animal in ViewBag.Animals)
        {
            <span>@animal.Name - <img src="@Html.DisplayFor(model => animal.Image)" width="100" height="100" /></span>
        }
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/bootstrap/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/jquery/validation.js"></script>
    <script src="~/lib/jquery/adopreq-validation.js"></script>
}

