@model AdotAqui.Models.ViewModels.AnimalsViewModel
@using Microsoft.Extensions.Localization;

@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = "Animais";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/css/auth.css" />
}

@section DocumentReadyScripts {
    $("#species-dropdown").select2({
    theme: "bootstrap",
    placeholder: "@Html.Raw(SharedLocalizer["Label_ChooseSpecies"])",
width: "170px"
});
    $("#breed-dropdown").select2({
    theme: "bootstrap",
    placeholder: "@Html.Raw(SharedLocalizer["Label_ChooseBreed"])",
    width: "200px"
    });
    }

    @section Scripts {
        <script>
            function checkDropdown($form) {
                if ($("#breed-dropdown").prop('selectedIndex') != 0) {
                    $("#breed-dropdown").val($("#breed-dropdown option:first").val());
                }
                $form.submit();
            }
        </script>
    }

    <div class="container">
        <form id="animalSearchForm" method="post" class="form-inline">
            <div class="form-group">
                <label for="species-dropdown">@SharedLocalizer["Label_Species"]:</label>
                <select id="species-dropdown" name="species" asp-items="@Model.GetSpeciesDropDown()" onchange="checkDropdown(this.form)">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label for="breed-dropdown">@SharedLocalizer["Label_Breed"]:</label>
                <select id="breed-dropdown" name="breeds" asp-items="@Model.GetBreedsDropDown()" onchange="this.form.submit()">
                    <option></option>
                </select>
            </div>
            <div class="form-group ml-auto">
                <label for="name">@SharedLocalizer["Label_Name"]:</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="@SharedLocalizer["Label_AnimalName"]" value="@Model.AnimalName" >
                <button type="submit" class="btn btn-primary">@SharedLocalizer["Label_Search"]</button>
                @if (this.User.IsInRole("Administrator"))
                            {
                            <a asp-controller="Animals" asp-action="Create" class="btn btn-success" style="margin-left:10px;">+</a>
                        }
            </div>
        </form>

    <div class="card-deck">
        @{
            int counter = 1;
            foreach (var animal in Model.Animals)
            {
                <div class="card mb-4">
                    @if (animal.Image == null)
                    {
                        <a href="/Animals/Details/@animal.AnimalId" style="color:black;text-decoration:none;">
                            <img class="card-img-top img-fluid" src="https://via.placeholder.com/500x500" alt="Card image cap">
                        </a>
                    }
                    else
                    {
                        <a href="/Animals/Details/@animal.AnimalId" style="color:black;text-decoration:none;">
                            <img class="card-img-top img-fluid" style="width: 100%; height: 15vw; object-fit: cover;" src="@Html.DisplayFor(modelItem => animal.Image)" alt="Card image cap">
                        </a>
                    }
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <span style="position: absolute;right: 0;margin-right:2px;" id="editTool"><a asp-controller="Animals" asp-action="Edit" asp-route-id="@animal.AnimalId"><i class="fas fa-edit"></i></a></span>
                    }
                    @if (animal.Gender.Equals("M"))
                    {
                        <span style="position:absolute;right:0;bottom:0;margin-right:5px;color:dodgerblue;font-size:18px;"><i class="fas fa-mars"></i></span>
                    }
                    else
                    {
                        <span style="position:absolute;right:0;bottom:0;margin-right:5px;color:#E75480;font-size:18px;"><i class="fas fa-venus"></i></span>
                    }
                    <div>
                        <h5 class="card-title" style="text-align:center;margin-top:10px;">
                            @Html.DisplayFor(modelItem => animal.Name)
                        </h5>
                        <!--@if (Model.GetCulture() == "pt-PT")
                        {
                            <p class="card-text">@SharedLocalizer["Label_Species"]: @Html.DisplayFor(modelItem => animal.Breed.Specie.NamePt)</p>
                            <p class="card-text">@SharedLocalizer["Label_Breed"]: @Html.DisplayFor(modelItem => animal.Breed.NamePt)</p>
                        }
                        else
                        {
                            <p class="card-text">@SharedLocalizer["Label_Species"]: @Html.DisplayFor(modelItem => animal.Breed.Specie.Name)</p>
                            <p class="card-text">@SharedLocalizer["Label_Breed"]: @Html.DisplayFor(modelItem => animal.Breed.Name)</p>
                        }
                        <p class="card-text">@SharedLocalizer["Label_Gender"]: @Html.DisplayFor(modelItem => animal.Gender)</p>
                        <p class="card-text">@SharedLocalizer["Label_Height"]: @Html.DisplayFor(modelItem => animal.Height) cm</p>
                        <p class="card-text">@SharedLocalizer["Label_Weight"]: @Html.DisplayFor(modelItem => animal.Weight) kg</p>
                        <p class="card-text">@SharedLocalizer["Label_Birthday"]: @Html.ValueFor(modelItem => animal.Birthday, "{0:d}")</p>-->
                    </div>
                </div>
                if (counter % 2 == 0)
                {
                    <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
}
                                if (counter % 3 == 0)
                                {
                    <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
}
                                if (counter % 4 == 0)
                                {
                    <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 4 on lg--></div>
}
                                if (counter % 5 == 0)
                                {
                    <div class="w-100 d-none d-xl-block"><!-- wrap every 5 on xl--></div>
}
counter = counter + 1;
}
            }
        </div>
    </div>