@model AdotAqui.Models.Entities.AnimalComment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AnimalComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnimalId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnimalId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Commentary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Commentary)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CommentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
