@model AdotAqui.Models.Entities.UserNotification

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>
<a asp-action="MyNotifications">Voltar</a>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NotificationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotificationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>
