@model AdotAqui.Models.Entities.UserNotification
@using Microsoft.Extensions.Localization;

@{
    ViewData["Title"] = "Details";
}
@inject IStringLocalizer<SharedResources> SharedLocalizer

<h2>@Html.DisplayFor(model => model.Title)</h2>
<a asp-action="MyNotifications">@SharedLocalizer["Label_Back"]</a>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @SharedLocalizer["Label_NotificationDate"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotificationDate)
        </dd>
        <dt>
            @SharedLocalizer["Label_Message"]
        </dt>
        <dd>
            @Html.Raw(Model.Message)
        </dd>
    </dl>
</div>
