@model IEnumerable<AdotAqui.Models.Entities.UserNotification>

@{
    ViewData["Title"] = "Index";
}

<h2>Minhas Notificações</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotificationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationDate)
            </td>
            <td>
                @if(!item.HasRead){
                <b><i class="fas fa-exclamation"></i>
                    @Html.DisplayFor(modelItem => item.Title)
                </b>
                                    }else{
                @Html.DisplayFor(modelItem => item.Title)   
                }

            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.UserNotificationId">Abrir</a>
            </td>
        </tr>
}
    </tbody>
</table>
