@model IEnumerable<AdotAqui.Models.Entities.UserNotification>
@using Microsoft.Extensions.Localization;

@{
    ViewData["Title"] = "Index";
}
@inject IStringLocalizer<SharedResources> SharedLocalizer

<h2>@SharedLocalizer["Label_MyNotifications"]</h2>
<link rel="stylesheet" href="~/css/admin.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<table class="display compact" id="base">
    <thead>
        <tr>
            <th></th>

            <th>
                @Html.DisplayNameFor(model => model.NotificationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!item.HasRead)
                    {
                        <b>
                            <i class="fas fa-exclamation"></i>
                        </b>
                    }
                </td>
                <td data-sort="@((new DateTimeOffset(item.NotificationDate)).ToUnixTimeSeconds())">
                    @if (!item.HasRead)
                    {
                        <b>
                            @Html.DisplayFor(modelItem => item.NotificationDate)
                        </b>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.NotificationDate)
                    }
                </td>
                <td>

                    @if (!item.HasRead)
                    {
                        <b>
                            @Html.DisplayFor(modelItem => item.Title)
                        </b>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Title)
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.UserNotificationId" class="btn my-2 my-sm-0 navbutton" style="color:black">@SharedLocalizer["Label_Open"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#base').DataTable({
            "columnDefs": [{
                orderable: false,
                targets: [0, 3]
            },
            {
                width: "5%", targets: 0
            },
            {
                width: "20%", targets: 1
            },
            {
                width: "5%", targets: 3
            }],
            order: [[1, "desc"]],
            language: {
            url: '@SharedLocalizer["DataTables_Language"]'
        }
        });
        
    });
    
</script>
