@model IEnumerable<AdotAqui.Models.Entities.AdoptionRequests>
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    ViewData["Title"] = "Adoções";
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}



<link rel="stylesheet" type="text/css" href="~/css/adopt.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

@if (Model.Count() > 0)
{
    <h4>Adoption requests</h4>
    <table class="display compact" id="base">
        <thead>
            <tr>
                <th>
                    Utilizador
                </th>
                <th>
                    Animal
                </th>
                <th>
                    Data de proposta
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Opções
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.User.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Animal.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.ProposalDate)</td>
                <td>@Html.DisplayFor(modelItem => item.AdoptionType)</td>
                <td>@Html.DisplayFor(modelItem => item.AdoptionLogs.OrderByDescending(u => u.Date).First().AdoptionState.Name)</td>
                <td>
                    <a href="/Adoptions/Details/@item.AdoptionRequestId" class="btn my-2 my-sm-0 navbutton" style="color:black">
                        Detalhes
                    </a>
                    @if (item.AdoptionLogs.OrderByDescending(u => u.Date).First().AdoptionState.NamePt == "Pendente")
                    {
                        <a href="/Adoptions/Accept/@item.AdoptionRequestId" class="btn my-2 my-sm-0 navbutton" style="color:black">Accept</a>
                        <a href="/Adoptions/Decline/@item.AdoptionRequestId" class="btn my-2 my-sm-0 navbutton" style="color:black">Decline</a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
    @if (requestCulture.RequestCulture.Culture.ToString().Equals("en-US"))
    {
        <script>
            $(document).ready(function () {
                $('#base').DataTable({
                    language: {
                        url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/English.json'
                    },
                    columnDefs: [{
                        orderable: false,
                        className: 'select-checkbox',
                        targets: 5
                    }],
                    select: {
                        style: 'os',
                        selector: 'td:first-child'
                    },
                    order: [[0, 'asc']]
                });
            });
        </script>
    }
    else
    {
        <script>
            $(document).ready(function () {
                $('#base').DataTable({
                    language: {
                        url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese.json'
                    },
                    columnDefs: [{
                        orderable: false,
                        className: 'select-checkbox',
                        targets: 5
                    }],
                    select: {
                        style: 'os',
                        selector: 'td:first-child'
                    },
                    order: [[0, 'asc']]
                });
            });
        </script>
    }
}
else
{
    <p> Não existem adoções.</p>
}

