@model AdotAqui.Models.Entities.AdoptionRequests
@using Microsoft.Extensions.Localization;
@using System.Web;

@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer["Label_Request"];
}

@section Styles {
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-datepicker.css" />
}

@if (Model.Animal.Gender.Equals("M"))
{
    <h2>@string.Format(SharedLocalizer["Label_AdoptReqM"], Model.Animal.Name.ToString())  <span style="color:dodgerblue;font-size:24px;"><i class="fas fa-mars"></i></span></h2>
}
else
{
    <h2>@string.Format(SharedLocalizer["Label_AdoptReqF"], Model.Animal.Name.ToString())  <span style="color:#E75480;font-size:24px;"><i class="fas fa-venus"></i></span></h2>
}


<hr />
<div class="container">
    <div class="row w-100 m-auto">

        <div class="col-sm h-center">
            <img class="card-img-top img-fluid" id="pet-image" style="height: 25vw; object-fit: contain;" src="@Html.DisplayFor(modelItem => modelItem.Animal.Image)" alt="Card image cap">
        </div>

        <div class="col-md-5">
            <form asp-action="NewRequest">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="AnimalId" class="form-control" asp-items="ViewBag.AnimalId" />



                <div class="form-group">
                    @SharedLocalizer["Label_AdoptionType"]:
                    <select class="form-control" asp-for="AdoptionType" id="adopt-choice">
                        <option>@SharedLocalizer["Label_Adoption"]</option>
                        <option>@SharedLocalizer["Label_Fat"]</option>
                    </select>
                </div>
                <div class="form-group dates-vis">
                    @SharedLocalizer["Label_StartDate"]:

                    <div class="input-group date" id="datepicker_start">
                        <input asp-for="StartDate" class="form-control" type="text" readonly>
                        <div class="input-group-append">
                            <span class="input-group-text input-group-addon"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group dates-vis">

                    @SharedLocalizer["Label_EndDate"]:

                    <div class="input-group date" id="datepicker_end">
                        <input asp-for="EndDate" class="form-control" type="text" readonly>
                        <div class="input-group-append">
                            <span class="input-group-text input-group-addon"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                    </div>


                </div>
                <div class="form-group">
                    @SharedLocalizer["Label_Message"]:
                    <textarea asp-for="Details" class="form-control"></textarea>
                    <span asp-validation-for="Details" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="@SharedLocalizer["Label_Create"]" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script src="~/lib/bootstrap/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/jquery/adopreq-validation.js"></script>

    }


