@model AdotAqui.Models.ViewModels.AnimalViewModel
@using Microsoft.Extensions.Localization;
@using System.Web;

@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = "Detalhes";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
}


@section DocumentReadyScripts {
    $("#breed-dropdown").select2({
    theme: "bootstrap",
    placeholder: "Seleccione uma espécie",
    width: "100%"
    });

    $("#gender-dropdown").select2({
    theme: "bootstrap",
    placeholder: "Seleccione um gênero",
    width: "100%"
    });

    $('#animalImage').on('change', function () {
    var fileName = $(this).val();
    $(this).next('.custom-file-label').html(fileName.split("\\").pop());
    var reader = new FileReader();

    reader.onload = function (e) {
    document.getElementById("image-form").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);

    })
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/bootstrap/js/bootstrap-datepicker.js"></script>

}

@if (Model.StatusMessage != null)
{
    <partial name="_StatusMessage" model="Model.StatusMessage" />
}

@{
    var breed = from b in Model.Breeds where b.BreedId == Model.Animal.BreedId select b.NamePt;
    var breedID = (from b in Model.Breeds where b.BreedId == Model.Animal.BreedId select b.SpecieId).First();
    var specie = from s in Model.Species where s.SpecieId == breedID select s.NamePt;
}

<div class="row w-75 m-auto"><div class="col"><h2>Detalhes de @Model.Animal.Name</h2></div></div>
<div class="row w-75 m-auto">
    <div class="col-md-7">
        <div class="form-row">
            <img class="card-img-top img-fluid" style="height: 15vw; object-fit: contain;" src="@Html.DisplayFor(modelItem => modelItem.Animal.Image)" alt="Card image cap">
        </div>
        <div class="form-row">Espécie: @specie.First()</div>
        <div class="form-row">Raça: @breed.First()</div>
        <div class="form-row">Genero: @Model.Animal.Gender</div>
        <div class="form-row">Altura: @Model.Animal.Height</div>
        <div class="form-row">Peso: @Model.Animal.Weight</div>
        <div class="form-row">Data Nascimento: @Html.ValueFor(modelItem => Model.Animal.Birthday, "{0:d}")</div>

        <div class="form-group">
            Detalhes: @Model.Animal.Details
        </div>

    </div>
</div>
<div class="detailBox">
    <div class="titleBox">
        <label>Comentários sobre animal</label>
        <!--<button type="button" class="close" aria-hidden="true">&times;</button>-->
    </div>
    <div class="commentBox">

        <p class="taskDescription">Deixe aqui o seu comentário de forma a ajudar outros donos!</p>
    </div>
    <div class="actionBox">
        <ul class="commentList">
            @{
                foreach (var commentary in Model.Comments)
                {
                    <li>
                        <div class="commenterImage">
                            <img src="https://via.placeholder.com/50x50" />
                        </div>
                        <div class="commentText">
                            <p class="">@commentary.Commentary</p>
                            <span class="date sub-text">on @commentary.InsertDate by @commentary.GetUserName()</span>
                            @{
                                if (User.Identity.Name == commentary.GetEmail())
                                {
                            <form asp-action="RemoveComment">
                                <input type="hidden" asp-for="Animal.AnimalId" class="form-control" id="AnimalId" />
                                <input name="CommentId" id="CommentId" type="hidden" value="@commentary.CommentId" />
                                <button class="date sub-text" type="submit">Remove Comment</button>
                            </form>
                                }
                            }
                        </div>
                    </li>
                }
            }
        </ul>
        <form asp-action="AddComment" class="form-inline">
            <div class="form-group">
                <input name="Commentary" id="Commentary" class="form-control" type="text" placeholder="Deixe aqui um comentário..." />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">+</button>
            </div>
            <input type="hidden" asp-for="Animal.AnimalId" class="form-control" id="AnimalId" />
        </form>
    </div>
</div>
</div>

