@model AdotAqui.Models.ViewModels.AnimalViewModel
@using Microsoft.Extensions.Localization;
@using System.Web;

@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = "Detalhes";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
}


@section DocumentReadyScripts {
    $("#breed-dropdown").select2({
    theme: "bootstrap",
    placeholder: "Seleccione uma espécie",
    width: "100%"
    });

    $("#gender-dropdown").select2({
    theme: "bootstrap",
    placeholder: "Seleccione um gênero",
    width: "100%"
    });

    $('#animalImage').on('change', function () {
    var fileName = $(this).val();
    $(this).next('.custom-file-label').html(fileName.split("\\").pop());
    var reader = new FileReader();

    reader.onload = function (e) {
    document.getElementById("image-form").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);

    })
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/bootstrap/js/bootstrap-datepicker.js"></script>

}

@if (Model.StatusMessage != null)
{
    <partial name="_StatusMessage" model="Model.StatusMessage" />
}

@{
    var breed = from b in Model.Breeds where b.BreedId == Model.Animal.BreedId select b.Name;
    var breedID = (from b in Model.Breeds where b.BreedId == Model.Animal.BreedId select b.SpecieId).First();
    var specie = from s in Model.Species where s.SpecieId == breedID select s.Name;

    if (Model.GetCulture() == "pt-PT") {
        breed = from b in Model.Breeds where b.BreedId == Model.Animal.BreedId select b.NamePt;
        breedID = (from b in Model.Breeds where b.BreedId == Model.Animal.BreedId select b.SpecieId).First();
        specie = from s in Model.Species where s.SpecieId == breedID select s.NamePt;
    }
}


<div class="row w-75 m-left pt-4">
    <div class="col">
        <h2>
            @if (Model.Animal.Gender.Equals("M"))
            {
                <span style="color:dodgerblue;font-size:24px;"><i class="fas fa-mars"></i></span>
            }
            else
            {
                <span style="color:#E75480;font-size:24px;"><i class="fas fa-venus"></i></span>
            }

            @if (@Model.Animal.Gender == "M")
            {<span>@SharedLocalizer["Label_MyNameM"]</span> }
        else
        {<span>@SharedLocalizer["Label_MyNameF"]</span>}

            @Model.Animal.Name
            
        </h2>
    </div>
</div>
<a href="../../Adoptions/NewRequest/@Model.Animal.AnimalId">@SharedLocalizer["Label_AdoptMe"]!</a>
<div class="row w-100 m-auto pt-4 ">
    <div class="col">
        <div class="form-row  w-100">
            <img class="card-img-top img-fluid" id="pet-image" style="height: 25vw; object-fit: contain;" src="@Html.DisplayFor(modelItem => modelItem.Animal.Image)" alt="Card image cap">
        </div>
    </div>

    <div class="col">
        <div class="form-row  w-100 h-100" style="border-left: #212529;border-left-style: solid;border-left-width: thin;">
            <div class="form-row m-3 w-100">
                @SharedLocalizer["Label_Gender"]: @specie.First()
            </div>
            <div class="form-row m-3 w-100">
                @SharedLocalizer["Label_Breed"]: @breed.First()
            </div>
            <div class="form-row m-3 w-100">
                @SharedLocalizer["Label_Height"]: @Model.Animal.Height cm
            </div>
            <div class="form-row m-3 w-100">
                @SharedLocalizer["Label_Weight"]: @Model.Animal.Weight kg
            </div>
            <div class="form-row m-3 w-100">
                @SharedLocalizer["Label_Birthday"]: @Html.ValueFor(modelItem => Model.Animal.Birthday, "{0:d}")
            </div>
        </div>
        </div>
    </div>

<div class="form-group pt-4">
    <span id="about_me">
        <p>@SharedLocalizer["Label_AboutMe"]</p>
    </span> @Html.Raw(Model.Animal.Details)
</div>

<div class="row w-100 m-auto pt-4">
    <div class="detailBox col-md-8 m-auto">
        <div class="titleBox">
            <label>
                @if (@Model.Animal.Gender == "M")
                    {<span>@SharedLocalizer["Label_CommentsAboutM"]</span> }
                    else
                    {<span>@SharedLocalizer["Label_CommentsAboutF"]</span>}
                @Model.Animal.Name
            </label>

            <!--<button type="button" class="close" aria-hidden="true">&times;</button>-->
        </div>
        <div class="commentBox">

            <p class="taskDescription">@SharedLocalizer["Label_LeaveComment"]</p>
        </div>
        <div class="actionBox">
            <ul class="commentList">
                @{
                    foreach (var commentary in Model.Comments)
                    {
                        <li>
                            <div class="commenterImage">
                                <img src="https://via.placeholder.com/50x50" />
                            </div>
                            <div class="commentText">
                                <p class="">@commentary.Commentary</p>
                                <span class="date sub-text">@SharedLocalizer["Label_On"] @commentary.InsertDate @SharedLocalizer["Label_By"] @commentary.GetUserName()</span>
                                @{
                                    if (User.Identity.Name == commentary.GetEmail())
                                    {
                                        <form asp-action="RemoveComment">
                                            <input type="hidden" asp-for="Animal.AnimalId" class="form-control" id="AnimalId" />
                                            <input name="CommentId" id="CommentId" type="hidden" value="@commentary.CommentId" />
                                            <button class="date sub-text" type="submit">@SharedLocalizer["Label_RemoveComment"]</button>
                                        </form>
                                    }
                                }
                            </div>
                        </li>
                    }
                }
            </ul>
            <form asp-action="AddComment" class="form-inline">
                <div class="form-group">
                    <input name="Commentary" id="Commentary" class="form-control" type="text" placeholder="@SharedLocalizer["Label_CommentHere"]" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">+</button>
                </div>
                <input type="hidden" asp-for="Animal.AnimalId" class="form-control" id="AnimalId" />
            </form>
        </div>
    </div>
</div>
