@model AdotAqui.Models.ViewModels.AnimalViewModel
@using Microsoft.Extensions.Localization;

@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = "Editar";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/css/animalcu.css" />
}


@section DocumentReadyScripts {
    $("#breed-dropdown").select2({
    theme: "bootstrap",
    placeholder: "Seleccione uma espécie",
    width: "100%"
    });

    $("#gender-dropdown").select2({
    theme: "bootstrap",
    placeholder: "Seleccione um gênero",
    width: "100%"
    });

    $('#animalImage').on('change', function () {
    var fileName = $(this).val();
    $(this).next('.custom-file-label').html(fileName.split("\\").pop());
    var reader = new FileReader();

    reader.onload = function (e) {
    document.getElementById("image-form").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);

    })
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/bootstrap/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/jquery/validation-animal.js"></script>
}

@if (Model.StatusMessage != null)
{
    <partial name="_StatusMessage" model="Model.StatusMessage" />
}

<script>
    ToolTip_name = "@SharedLocalizer["Error_NameLengthInvalid2"]";
</script>

<div class="row w-75 m-auto"><div class="col"><h2>Editar animal</h2></div></div>
<form asp-action="Edit" enctype="multipart/form-data">
    <div class="row w-75 m-auto">
        <div class="col-md-7">
            <div>
                <img id="image-form" src="@Html.DisplayFor(modelItem => modelItem.Animal.Image)" />
                <div class="custom-file mt-2">
                    <input type="file" class="custom-file-input" asp-for="Animal.Image" id="animalImage" accept="image/x-png,image/gif,image/jpeg">
                    <label class="custom-file-label" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;" asp-for="Animal.Image">@SharedLocalizer["Label_ChooseFile"]</label>
                </div>
            </div>
            <input type="hidden" asp-for="Animal.AnimalId" class="form-control" id="AnimalId" />
            <div class="form-group">
                <label asp-for="Animal.Name" class="label_text">@SharedLocalizer["Label_Name"]</label>
                <input asp-for="Animal.Name" class="form-control" id="Name" />
                <div id="result_name" class="result_name helper"><font style="margin-right:5px; font-size: 18px; color: orange;"> <b>?</b> </font></div>
                <span asp-validation-for="Animal.Name" class="text-danger" style="display: block;"></span>
            </div>
            <div class="form-row">


                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label asp-for="Animal.Weight" class="label_text">@SharedLocalizer["Label_Weight"]</label>
                        <input asp-for="Animal.Weight" input type="text" class="form-control text-left" data-inputmask="'alias': 'numeric' , 'groupSeparator': ',' , 'autoGroup': true , 'digits': 2, 'digitsOptional': true, 'min' : 0, 'max' : 100" />
                        <div class="unit masksc">kg</div>
                        <span asp-validation-for="Animal.Weight" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="Animal.Height" class="label_text">@SharedLocalizer["Label_Height"]</label>
                        <input asp-for="Animal.Height" input type="text" class="form-control text-left" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': true, 'min' : 0, 'max' : 300" />
                        <div class="unit masksc">cm</div>
                        <span asp-validation-for="Animal.Height" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Animal.Details" class="label_text">@SharedLocalizer["Label_Details"]</label>
                    <textarea asp-for="Animal.Details" class="form-control" id="Details">
                </textarea>
                    <span asp-validation-for="Animal.Details" class="text-danger"></span>
                </div>

                <button type="submit" class="form-control form-submit btn btn-success mb-2">@SharedLocalizer["Label_SaveChanges"]</button>
            </div>
        </div>

</form>

<form asp-action="Delete">
    <div class="form-group">
        <input type="hidden" asp-for="Animal.AnimalId" class="form-control" id="AnimalId" />
        <button type="submit" class="form-control form-submit btn btn-danger mb-2">Delete Animal</button>
    </div>
</form>
