@model AdotAqui.Models.Entities.AnimalIntervention
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer["Label_Edit"];
}

<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-datepicker.css" />
<script src="~/lib/bootstrap/js/bootstrap-datepicker.js"></script>
<script src="~/lib/jquery/adopreq-validation.js"></script>

<h2>@SharedLocalizer["Label_Reschedule"]</h2>

<h4>@SharedLocalizer["Label_Interventions"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InterventionId" />
            <div class="form-group">
                Nova data:
                <div class="input-group date" id="datepicker_start">
                    <input asp-for="Date" class="form-control" type="text" readonly>
                    <div class="input-group-append">
                        <span class="input-group-text input-group-addon"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                </div>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Label_Change"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@SharedLocalizer["Label_Cancel"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
