@model IEnumerable<AdotAqui.Models.Entities.Log>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LogType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LogType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LogId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LogId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
